* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

body {
    background-color: rgb(97, 175, 186);
}

.window {
    margin: 2.7em 10em;
    background-color: #fffefe;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #2a2a2a;
    height: 90vh;
    display: none;
}

.flex-container {
    padding: 2em 2em 0.5em 2em;
    text-align: center;
}

h1 {
    font-size: 2.3em;
    padding: 0.7em;
}

.name-input,
.game-starter,
#restart-btn,
#score-view,
.levels > * {
    border-radius: 0.5em;
    font-weight: 600;
    width: 5em;
    padding: 0.4em;
    font-size: 0.8em;
}

.name-input {
    width: 9.5em;
}
.game-starter {
    width: 7em;
    margin-left: 1em;
    background-color: rgb(146, 131, 197);
    cursor: pointer;
}

.levels {
    padding: 0 1em 1em 1em;
    display: flex;
    justify-content: center;
}

.levels > * {
    margin: 0.5em 0.8em;
    cursor: pointer;
}

.easy {
    background-color: rgb(53, 168, 53);
}

.normal {
    background-color: rgb(226, 226, 32);
}

.hard {
    background-color: rgb(208, 58, 58);
}

#restart-btn {
    width: 5.5em;
    background-color: rgb(97, 175, 186);
}
.easy[data-pressed],
.easy:active,
.normal[data-pressed],
.normal:active,
.hard[data-pressed],
.hard:active,
.game-starter[data-pressed],
.game-starter:active {
    color: #aaa;
    position: relative;
    top: 0.1em;
    box-shadow: 0 0 0 0.05em black;
}

.easy[data-pressed],
.easy:active {
    background: rgb(6, 107, 6);
}

.normal[data-pressed],
.normal:active {
    background: rgb(109, 115, 3);
}

.hard[data-pressed],
.hard:active {
    background: rgb(112, 3, 3);
}

.game-starter[data-pressed],
.game-starter:active {
    background: rgb(75, 58, 128);
}

/* KEYBOARD START */

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.keyboard-row {
    height: 3em;
    margin: 0.2em;
}

.keyboard-row > * {
    position: relative;
    background: rgb(97, 175, 186);
    text-align: center;
    color: black;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    /* Gör att det ej går att markera element (chrome, safari) */
    user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.keyboard-row > div[data-pressed],
.key-pressed,
.keyboard-row > div:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key-letter {
    line-height: 2.8em;
}

/* KEYBOARD END */

/* GAME-SECTION START */
.game-section {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}

.space-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.letters {
    text-align: center;
    font-size: 1.5em;
}

#name {
    align-items: center;
    font-size: 2em;
}

.on {
    visibility: hidden;
}

/* GAME-SECTION END */

/* STARTVY START */

/* .container.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.overlay {
    /* background: rgba(105, 230, 232, 0.5); */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* z-index: 1; */
    margin: 5em auto;
    background-color: #fffefe;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #2a2a2a;
    height: fit-content;
    padding: 1em 2em 3em 2em;
    width: fit-content;
}

.start-container {
    /* width: 500px; */
    /* background: #fff; */
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.start-view p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* .levels button {
    background-color: #65b068;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
} */

/* .levels button:hover {
    background-color: rgb(47, 36, 111);
} */

.easy:hover,
.normal:hover,
.hard:hover {
    color: #ebe5e5;
}

.easy:hover {
    background-color: #1d6421;
}

.normal:hover {
    background-color: rgb(156, 156, 2);
}

.hard:hover {
    background-color: rgb(136, 30, 30);
}

/* .name-input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

/* .game-starter {
    background-color: #00ba13;
    color: rgb(233, 229, 229);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
} */

/* img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0px 5px 7px grey;
} */

/* .levels button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
} */

/* .levels button:hover {
    background-color: #45a049;
}

.levels .normal {
    background-color: rgb(205, 205, 26);
}

.levels .normal:hover {
    background-color: rgb(225, 199, 33);
}

.levels .hard {
    background-color: #f44336;
}

.levels .hard:hover {
    background-color: #d32f2f;
} */
.levels button.selected {
    background-color: #2e2f30;
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

/* .name-input.invalid {
    border: 2px solid red;
} */

/* STARTVY END */

/* GAME OVER VY STARTAR */

#game-over {
    display: none;
}

.gameover-container {
    margin: 5em auto;
    background-color: #fffefe;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #2a2a2a;
    height: fit-content;
    width: 40em;
    padding: 2em;
}

.gameover-container > h1,
.gameover-container > h2 {
    text-align: center;
}
.gameover-container > h1 {
    font-size: 3em;
}

.gameover-container > h2 {
    font-size: 2em;
    margin: 0.8em;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.btn-container > * {
    margin: 0.5em;
    background-color: rgb(97, 175, 186);
    padding: 0.5em;
    font-size: 1.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.emojis {
    display: flex;
    justify-content: center;
    font-size: 10em;
    text-shadow: 0 0 15px black;
}

/* GAME OVER VY SLUTAR */

/* POÄNG VY START */
#score {
    display: none;
}

#score-view {
    width: 5.5em;
}
.score-container {
    margin: 3em auto;
    /* background-color: #fffefe; */
    background-image: url("https://img.freepik.com/free-vector/blank-white-notepaper-design_53876-118304.jpg?w=740&t=st=1701353728~exp=1701354328~hmac=f43b3b75e91667e3dde83a7fb3fd6cfe09b2c824798f23876ee2debfe8c54476");
    opacity: 0.95;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #2a2a2a;
    height: fit-content;
    width: 40em;
    padding: 2em;
}

.display-score,
.score-container > h1,
.score-container > h2 {
    color: #424275;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}

.score-item > * {
    font-family: cursive;
}

.score-item > p {
    font-size: 1.1em;
    /* font-weight: bold; */
}
.score-item > p:first-child {
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(97, 175, 186);
}

.score-item > p:nth-child(5) {
    font-weight: bold;
    margin-bottom: 20px;
}

.score-item > p:nth-child(2) {
    font-weight: bold;
}

.score-container > h1 {
    padding-bottom: 0;
    color: #a45252;
}

.score-container > h2 {
    color: #a45252;
    font-size: 1.9em;
    margin-bottom: 0.5em;
}

.display-score > * {
    margin: 1.5em;
    font-size: 18px;
}

.button-container1 {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.button-container1 > * {
    margin: 0.5em;
}

#score img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px gray;
    margin-left: 237px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#score .button1,
.sort-btns > * {
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
    box-shadow: 0px 0px 8px gray;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgb(123, 200, 180);
}

#score .button1:hover {
    background-color: #45a049;
}

.sort-btns {
    display: flex;
    justify-content: center;
}

.sort-btns > * {
    margin: 0.5em;
    padding: 0.2em;
    cursor: pointer;
    background-color: #a4525294;
}

/* POÄNGVY END  */

/* MEDIA QUERYS START */
@media (max-width: 1400px) {
    .keyboard {
        font-size: 0.8em;
    }

    .letters {
        margin-top: 0.5em;
        font-size: 2em;
    }
}

@media (max-width: 1310px) {
    .game-section {
        flex-direction: column;
        align-items: center;
    }

    .space-evenly {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #change-gubbe {
        height: 30vh;
        width: 30vw;
    }

    .window {
        margin: 2.7em 6em;
        height: fit-content;
    }

    #name {
        font-size: 1.5em;
    }
}

@media (max-width: 790px) {
    .window {
        margin: 2.7em 2em;
    }

    #change-gubbe {
        width: 50vw;
        height: 20vh;
    }
    .h1 {
        font-size: 1.7em;
    }

    .name-input,
    .game-starter,
    .levels > * {
        font-size: 0.7em;
    }

    .letters {
        font-size: 1.8em;
        margin-top: 1em;
    }

    #name {
        font-size: 1.2em;
    }
    .gameover-container {
        width: 20em;
        margin: 3em auto;
    }

    .gameover-container > h1 {
        font-size: 2.5em;
    }

    .gameover-container > h2 {
        font-size: 1.5em;
    }

    .btn-container > * {
        font-size: 1em;
    }
}

@media (max-width: 592px) {
    .keyboard {
        font-size: 0.7em;
    }

    .window {
        margin: 2.7em 1em;
    }
    .letters {
        font-size: 1.6em;
        margin-top: 2em;
    }

    #name {
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    .keyboard-row > * {
        width: 2.1em;
    }

    .h1 {
        font-size: 0.6em;
    }

    .letters {
        font-size: 1.4em;
        margin-top: 3em;
    }
}
