
#vy {
    display: none;
}
.score-container {
    margin: 3em auto;
    background-color: #fffefe;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #2a2a2a;
    height: fit-content;
    width: 40em;
    padding: 2em;
}

.score-container > h2,
.score-container > ul {
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
    margin: 1em;
} 

.button-container > * {
    margin: .5em;
}
.img {
    width: 50px;
}