
#score {
    display: none;
}

#score-view {
	width: 50px;
	height: 50px;
	position: relative;
	top: 20px;
	left: 30px;
	color: blue;


}

.score-container {
    margin: 3em auto;
    background-color: #fffefe;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #2a2a2a;
    height: fit-content;
    width: 40em;
    padding: 2em;
}

.score-container > h1,
.score-container > h2 {
	color: #a45252;
    text-align: center;
	margin: 2px;
	font-family: 'Pixelify Sans', sans-serif;
	
}

.button-container1 {
    display: flex;
    justify-content: center;
    margin: 1em;
} 

.button-container1 > * {
    margin: .5em;
}

#score img  {
	height: 100px;
	width: 100px;
	border-radius: 20px;
	box-shadow: 0px 0px 8px gray;
    margin-left: 237px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#score .button1 {
	background-color: rgb(123, 200, 180);
	border-radius: 20px;
	border: none;
	padding: 6px;
	box-shadow: 0px 0px 8px gray;
	font-family: 'Pixelify Sans', sans-serif;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
#score .button1:hover {
	background-color: #45a049;
	 }